.slider {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    align-items: flex-end;
    margin-bottom: 50px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider > article {
    margin-right: 60px;
    align-self: baseline;
}

.art_class {
    display: grid;
    align-self: baseline;
    flex-grow: 3;
    flex-flow: row;
}

.art_class > img {
    max-height: 500px;
}

.art_title {
    font-size: 1.7em;
}

.arrow {
    padding: 25px;
    color: #fff;
    position: absolute;
    font-size: 3em;
    background-color: #000000cc;
    transform: translateY(-35vh);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow.left {
    left: 0;
    margin-left: 4%;
}

.arrow.right {
    right: 0;
    margin-right: 4%;
}

